* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
}

.p1 {

    width: 400px;
    padding: 20px;
    border: 2px solid #fc0;
    margin: 0;
}

.p2 {

    width: 400px;
    padding: 20px;
    border: 2px solid #fc0;
    margin: 0;
    padding: 20px 10px;
}

.p3 {

    width: 400px;
    padding: 20px;
    border: 2px solid #fc0;
    margin: 0;
    padding: 20px 10px 5px 0px;
}

.p4 {

    width: 400px;
    padding: 20px;
    border: 2px solid #fc0;
    margin: 0;
    Padding-top: 20px;
    Padding-right: 5px;
    Padding-bottom: 5px;
    Padding-left: 0px;
    
}

.p5 {

    width: 400px;
    padding: 20px;
    Border-width: 2px;
    border-style: solid;
    Border-color: #fc0;
    margin: 0;
}

.p6 {

    width: 400px;
    padding: 20px;
    Border-width: 10px;
    border-style: solid;
    Border-color: rgb(110, 110, 110);
    margin: 0;
}

.p7 {

    width: 400px;
    padding: 20px;
    Border-width: 2px;
    border-style: solid;
    Border-color: #fc0;
    margin: 0;
}

.t1 {

    width: 50%;
    padding: 0;
    border: 1px solid #333;
    margin: 0;

}

.p8 {

    width: 400px;
    padding: 20px;
    Border-width: 2px;
    border-style: solid;
    Border-color: #fc0;
    margin: 0;
}

.t2 {

    width: 50%;
    padding: 0;
    border: 1px solid #333;
    margin: 20px;

}