.head {

    border: 2px solid black;
    background-color: blanchedalmond;
    padding: 100px;
}

.menu {


    background-color: blanchedalmond;
    width: 100%;
    
}

.bot1 {

    border: 2px solid black;
    background-color: blanchedalmond;
    float: right;
}

.bot2 {

    border: 2px solid black;
    background-color: blanchedalmond;
    float: right;
}

.bot3 {

    border: 2px solid black;
    background-color: blanchedalmond;
    float: right;
}

.blanco1 {

    border: 2px solid white;
    background-color: white;
    float: left;
    width: 15%;
}

.blanco2 {

    border: 2px solid white;
    background-color: white;
    float: left;
    width: 15%;
}

.info {

    border: 2px solid black;
    background-color: burlywood;
    float: left;
    width: 69%;
    height: 1000px;
}

.caja1 {

    border: 2px solid black;
    background-color: cadetblue;
    width: 50%;
    height: 40%;
}

.footer {

    border: 2px solid black;
    background-color: gray;
    padding: 50px;
    clear: left;
}