.head {

    border: 2px solid black;
    background-color: blanchedalmond;
    padding: 100px;
}

.menu {

    border: 2px solid black;
    background-color: blanchedalmond;
}

.blanco1 {

    border: 2px solid white;
    background-color: white;
    float: left;
    width: 15%;
}

.blanco2 {

    border: 2px solid white;
    background-color: white;
    float: left;
    width: 15%;
}

.info {

    border: 2px solid black;
    background-color: burlywood;
    float: left;
    width: 69%;
    height: 1000px;
}

.footer {

    border: 2px solid black;
    background-color: gray;
    padding: 50px;
    clear: left;
}