body {

    background-color: rgb(235, 235, 235);
}



.parent {
    display: grid;
    grid-template-columns:.85fr repeat(2, 1fr) .45fr;
    grid-template-rows:repeat(4, 1fr) 0.75fr;
    
}



.parent > div {

    text-align: center;
    border: 0px solid black;
}



.head { 

    grid-area: 1 / 1 / 2 / 4; 
    background-color: rgb(255, 87, 87);
    height: max-content;
}



.enunciado {

    position: relative;
    top: 10px;
    font-size: 40px;
}



.icon { 

    grid-area: 1 / 4 / 2 / 5; 
    background-color: rgb(255, 87, 87);
    height: max-content;
}



.menu { 

    grid-area: 2 / 1 / 5 / 2; 
    background-color: rgb(235, 235, 235);
}



.menubutton {

    padding: 15px;
    padding-top: 35px;
    padding-bottom: 35px;
    left: 22px;
    position: relative;
}



.m1, .m2, .m3 {

    background-color: rgb(0, 0, 0);
    color: white;
    width: 95%;
    height: 40px;
    box-shadow: 1px 1px 2px black;
    margin: 5px;
    border-radius: 10px;
    transition: 0.1s ease-in;
    
    color: white;
}



.m1:hover, .m2:hover, .m3:hover {

    width: 100%;
    height: 48px;
    background-color: rgb(48, 48, 48);
    box-shadow: 4px 4px 2px black;
    border-radius: 15px;
    margin: 10px;
}



.info {

    grid-area: 2 / 2 / 5 / 4; 
    background-color: tomato;
    text-align: right;
}


.t {

    position: relative;
    transition: 0.3s ease-in;
}


.t:hover {

    top: -20px;
    padding-top: 5px;
}



.c {

    width: 420px;
    height: 270px;
    transition: 1.3s ease;
}


.c1:hover {

    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


.c2:hover {

    transform: rotate(-180deg);
}


.c3:hover {

    transform: skew(54deg, -17deg);
}



.space { 

    grid-area: 2 / 4 / 5 / 5;
    background-color: rgb(235, 235, 235);
}



.footer { 

    grid-area: 5 / 1 / 6 / 5; 
    background-color: white;
    border: 1px solid rgb(0, 0, 0);
    height: 200px;
}




.iconos {

    position: relative;
    top: 50px;
    padding: 10px;
    transition: 0.3s ease;
    height: 64px;
    width: 64px;
}


.iconos:hover {

    padding: 20px;
    transform: rotate(360deg);
    height: 74px;
    width: 74px;
}


.meta {

    width: 113px;
}


.meta:hover {

    width: 128px;
}



hr {

    border-color: black;
    width: 90%;
}