body {

    height: 100%;
    background-color: rgb(210, 240, 241);
    font-family: garamond;
}

.all {

    background-color: rgb(255, 254, 250);
    width: 460px;
    height: auto;
    margin: 80px auto;
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 20px;

}