select {

    background-color: rgb(212, 212, 212);
}

select:hover,option:hover {

    background-color: rgb(0, 0, 0);
    color: blue;
}

.resultado {

    background-color: rgb(212, 212, 212);
}

.text3 {

    width: 300px;
    height: 300px;
}