body {

    height: 100%;
    background-color: rgb(80, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

label {

    display: block;
    float: center;
}

.contact_form {

    width: 460px;
    height: auto;
    margin: 80px auto;
    border-radius: 10px;
    background-color: darkgoldenrod;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
}

input {

    background-color: darkseagreen;
    height: 40px;
    width: 408px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 10px;
}

textarea {

    background-color: darkseagreen;
    width: 408px;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

textarea:hover {

    border: 2px solid grey;
}

textarea:focus {

    outline: 0px;
    border: 3px solid rgb(226, 24, 24);
    background-color: white;
}

button {

    height: 45px;
    width: 420px;
    border-radius: 10px;
    border-style: solid;
    border: 1px;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: 0.3s ease-in;
}

button:hover {

    height: 50px;
    border: 3px solid black;
    background-color: hotpink;

}